#homehead{
    color: rgb(0, 66, 248);
    text-decoration: none;
}
#abouthead{
    color: rgb(0, 66, 248);
    text-decoration: none;
}
#careerhead{
    color: rgb(0, 66, 248);
    text-decoration: none;
}
#contacthead{
    color: rgb(0, 66, 248);
    text-decoration: none;
    
}
