a:link {
    color: rgb(9, 92, 247);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: rgb(250, 4, 45);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(63, 209, 245);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }