a:link {
    color: rgb(9, 92, 247);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: rgb(248, 36, 71);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(238, 86, 243);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
 img{
     padding: 20px;
 }